.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: var(--surface);
  padding: 16px;
  border-radius: var(--rounded-m);
  width: 90%;

  &.high {
    background: var(--red);
  }

  &.medium {
    background: var(--yellow);
  }

  &.low {
    background: var(--green);
  }

  &.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  margin-right: 5px;
  color: var(--surface);
}

.editIcon {
  color: var(--surface);
}
