.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;

  &.high {
    background-color: rgb(223, 72, 72);
  }

  &.medium {
    background-color: rgb(237, 171, 50);
  }

  &.low {
    background-color: rgb(6, 181, 6);
  }

  &.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.deleteIcon {
  margin-right: 5px;
  color: #fff;
}

.editIcon {
  color: #fff;
}
