.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: var(--dark-blue);
  text-align: center;
  margin: 128px auto;
  border-radius: var(--rounded-l);
  padding-bottom: 32px;
}

.title {
  margin: 20px 0 15px;
}
