.header {
  background: linear-gradient(90deg,
  rgb(97, 76, 240) 0%,
  rgb(127, 139, 245) 100%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;

  &.spaceBetween {
    width: 100%;
    justify-content: space-between;
  }
}

.homeLink {
  font-size: 26px;
  font-weight: 700;
}

.registrationLink {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 14px;
  background: var(--secondary);
  border-radius: var(--rounded-m);
}
