.todoForm {
  margin-bottom: 32px;
}

.priorities {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.select {
  background-color: var(--surface);
  border-radius: 4px;
  padding: 10px;
}

.todoButton {
  margin-top: 10px;
}
